/* Hero */
.Hero {
  display: flex;
  flex: 1;
  justify-content: center;
  flex-direction: column;
  padding: 40px;
  gap: 1rem;
  margin-bottom: 40px;
  background-color: var(--foreground-color);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 100vh;
  position: relative;
  height: 100%;
}
.HeroImage {
  display: inline;
  border-radius: 50%;
  width: 10rem;
  height: 10rem;
  margin: 0 auto;
  border: 3px solid var(--primary);
  size: cover;
}
.Hero .hero_title {
  text-align: center;
  z-index: 99;
  color: var(--h1-color);
  transition: all 0.1s ease-in-out;
}
.Hero h2 {
  font-weight: 400;
  text-align: center;
  margin: 0 auto;
  font-size: 2em;
  color: var(--secondary-text-color);
  transition: all 0.1s ease-in-out;
}

@media (min-width: 768px) {
  .Hero {
    padding: 100px;
    margin-bottom: 80px;
    height: 60vh;
  }
  .Hero h1 {
    font-size: 4em;
  }
  .Hero h2 {
    font-size: 2.5em;
  }
}
@media (min-width: 1300px) {
  .Hero {
    padding: 100px;
    margin-bottom: 80px;
  }
  .Hero h2 {
    font-size: 3em;
    width: 60%;
  }
}

.lineswipe {
  text-decoration: none;
  position: relative;
  display: inline-block;
  transition: color 0.2s ease;
}
.lineswipe:hover::after,
.lineswipe:hover::before {
  display: block;
  width: 100%;
  left: 0;
  bottom: 10px;
}
.lineswipe::before {
  transition: width 0.4s cubic-bezier(0.51, 0.18, 0, 0.88) 0.1s;
  -webkit-transition: width 0.4s cubic-bezier(0.51, 0.18, 0, 0.88) 0.1s;
}
.lineswipe::after {
  transition: width 0.2s cubic-bezier(0.29, 0.18, 0.26, 0.83);
  -webkit-transition: width 0.2s cubic-bezier(0.29, 0.18, 0.26, 0.83);
}
.lineswipe::after,
.lineswipe::before {
  content: "";
  position: absolute;
  width: 0;
  right: 0;
  height: 10px;
  bottom: 10px;
  z-index: -1;
}
.buffalolineswipe {
  color: var(--cornellred);
}
.buffalolineswipe::before {
  background: rgba(23, 120, 242, 0.25);
}
.alcaptain {
  color: var(--alcaptain-color);
}
.alcaptain::before {
  background: rgba(23, 120, 242, 0.25);
}
